#admin-panel, .form-row {
    margin-top: 2%;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.button-col button {
    margin-right: 2%;
}

.panel-component {
    margin-top: 2%;
}

.margin-bottom {
    margin-bottom: 2%;
}